
.LayoutTwoColBG {
  position: relative;
  /* padding: 104px 0; */
}
.LayoutTwoColBG-bg {
  position: absolute;
  background-color: #0173B4;

  /* top: -20%; */
  height: 100%;
  width: 200%;
  left: -100%;

  grid-column-start: 1;
  grid-column-end: 12;
}
.LayoutTwoColBG-img {
  grid-column-start: 2;
  grid-column-end: 7;
}
.LayoutTwoColBG-text {
  margin-top: -22px;

  grid-column-start: 8;
  grid-column-end: 12;
}
