.ProjectIntro {
  margin-bottom: 200px
}
.ProjectIntro hgroup {
  grid-column-start: 2;
  grid-column-end: 12;
}
.ProjectIntro hgroup p {
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 64px;
}
.ProjectIntro-main {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 8;
}
.ProjectIntro-side {
  grid-row-start: 2;
  grid-column-start: 9;
  grid-column-end: 12;
}
