
.ProjectHeader {
  margin-bottom: 200px
}

.ProjectHeader hgroup {
  grid-column-start: 2;
  grid-column-end: 12;
}

.ProjectHeader hgroup p {
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 64px;
}

.ProjectHeader-main {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 8;
}
.ProjectHeader-side {
  grid-row-start: 2;
  grid-column-start: 9;
  grid-column-end: 12;
}
