.CaseStudySpotlight {
  overflow: hidden;
  position: relative;
  width: 100%;
}


.WorkHeader {
  /* height: 560px; */
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 64px;
}


.parallaxBg {
  position: absolute;
  top: -500px;
  left: -10%;
  background-color: #0173B4;
  width: 120%;
  height: 900px;
  z-index: -1;
}

.crossBg {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 200%;
  background-image: url('./assets/mainbg.png');
  background-position: top center;
}




.DeviceWeb {
  border-radius: 16px;
  background-color: #3F3446;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  display: inline-flex;
  flex-direction: column;
  padding: 0 1px 16px;
  margin-bottom: 48px;
}

.DeviceWeb .header {
  display: flex;
  padding: 14px 20px;
}

.DeviceWeb .header .webBubble {
  border-radius: 50%;
  width: 13px;
  height: 13px;
  background-color: #574860;
  margin-right: 8px;
}

.DeviceWeb img {
  max-width: 1488px;
}




.flex {
  display: flex;
  justify-content: space-between;
}
.flexMain {
  flex: 1 4 auto;
  margin-right: 80px;
}
.flexSide {
  flex: 0 1 420px;
}




.Filet {
  display: flex;
  position: relative;
  margin: 200px 0 480px;
  padding: 104px 0; /*TODO: var*/
}
.Filet-bg {
  position: absolute;
  top: -20%;
  right: 0;
  background-color: #0173B4;
  width: 200%;
  height: 100%;
}
.Filet-img {
  background-color: white;
  flex: 0 0 800px;
  width: 800px;
  height: 500px;
  margin: 0 80px 0 0;

  /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
}
.Filet-text {
  flex: 1 1 auto;
  margin-top: -22px;
}




.Buffet {
  display: flex;
  border-bottom: 4px solid white;
  margin: 0 0 48px 0;
  align-items: flex-end;
}
.Buffet h2 {
  /* line-height: 120px; */
  flex: 0 1 auto;
}
.Buffet p {
  flex: 0 0 600px;
  padding-bottom: 12px; /* to align bottom of paragraph with bottom of title */
}
.BuffetImg {
  margin-bottom: 200px;
  display: flex;
  grid-column: 1 / 4;
  justify-content: center;
}
.fullImg {
  flex: 0 1 1000px;
  margin-right: 20px;
  background-color: white;
  height: 600px;
}
.fullImg:last-child {
  margin-right: 0;
}




.Banquet {
  position: relative;
  padding: 104px 0; /*TODO: var*/
  margin-bottom: 200px;
}
.Banquet__bg {
  right: 0;
  background-color: #004A74;
  width: 128%;
  height: calc(100% - 48px);
}
.Banquet__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 48px;
}
.Banquet__top__titlebg {
  right: 0;
  background-color: #1A84C0;
  width: 400%;
  top: -184px;
  height: calc(100% + 184px);
}
.Banquet__top__title {
  flex: 0 1 auto;
  position: relative;
  /* padding: 64px 0; */
}
.Banquet__top__text {
  flex: 0 0 600px;
  margin-bottom: 12px; /* to align bottom of paragraph with bottom of title */
  /* padding: 64px 0; */
}
.Banquet__spread {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Banquet__spread__img {
  flex: 0 0 calc(50% - 16px);
  height: 500px;
  margin-bottom: 32px;
  background-color: white;
}




.MainCourse {
  text-align: center;
  padding: 104px 0; /*TODO: var*/
}
.MainCourse__content {
  display: inline-block;
}
.MainCourse__text {
  display: flex;
  justify-content: flex-end;
  text-align: left;
}


.Morsel {
  position: relative;
  padding: 104px 0; /*TODO: var*/
  margin-bottom: 200px;
  width: 800px;
}

.Morsel__bg {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0173B4;
  width: 120%;
  height: 100%;
  z-index: -1;
}
