html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #251F29;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'proxima nova';
  src: url('./assets/font_proxima_nova_regular.woff2') format('woff2'),
  url('./assets/font_proxima_nova_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima nova';
  src: url('./assets/font_proxima_nova_semibold.woff2') format('woff2'),
  url('./assets/font_proxima_nova_semibold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'tiempos headline';
  src: url('./assets/TiemposHeadlineWeb-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'tiempos headline';
  src: url('./assets/font_tiempos_headline_semibold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'tiempos headline';
  src: url('./assets/font_tiempos_headline_semibold_italic.woff') format('woff');
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'tiempos headline';
  src: url('./assets/font_tiempos_headline_italic.woff') format('woff');
  font-style: italic;
}



.gradientText {
  background: linear-gradient(180deg, #0073B4 50%, #0F96E2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* page header */
h1 {
  font-family: 'tiempos headline';
  font-weight: 900;
  font-size: 140px;
  margin: 0;
}

/* section header */
h2 {
  font-family: 'tiempos headline';
  font-weight: 900;
  font-size: 92px;
  line-height: 96px;
  /* line-height: 112px; */
  color: white;
  margin: 0 0 28px;
}

/* section subheader */
h3 {
  font-family: 'tiempos headline';
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  font-style: italic;
  color: white;
  margin: 0 0 32px;

  /* font-family: 'tiempos headline';
  font-weight: 900;
  font-size: 32px;
  color: #9C9DC3;
  margin: 24px 0 12px; */
}

h3.sub {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  color: white;
  margin: 0;
}



p {
  color: #c4c4c4;
  font-family: 'proxima nova';
  font-size: 17px;
  line-height: 32px;
  /* max-width: 800px; */
  margin: 0 0 28px;
}

hr {
  border-width: 2px;
  border-color: white;
  border-style: solid;
  width: 120px;
  margin: 0 0 40px;
  display: inline-block;
}

hr.imgNext {
  margin-bottom: 96px;
}

main {
  text-align: left;
}



.slantedBg {
  position: absolute;
  top: -96px;
  height: calc(100% + 96px);
  z-index: -1;
  transform-origin: top right;
}

.grid {
  background-color: rgba(255,0,0,0.1);
  display: grid;
  column-gap: 16px;
  grid-template-columns:
    minmax(104px, auto)
    minmax(0, 120px)
    minmax(0, 120px)
    minmax(0, 120px)
    minmax(0, 120px)
    minmax(0, 120px)
    minmax(0, 120px)
    minmax(0, 120px)
    minmax(0, 120px)
    minmax(0, 120px)
    minmax(0, 120px)
    minmax(104px, auto);
}

.grid img {
  width: 100%;
}
